
<h2>メモアプリケーション</h2>

<form action='/memos' method='post'>
    <label for="fname">タイトル:</label>
    <input type="text" required id="title" name="title"><br><br>
    <label for="lname">コンテント:</label>
    <input type="text" required id="content" name="content"><br><br>
    <button type='submit'>登録</button>
</form>
